main {
    display: flex;
    justify-content: center;
    padding: 40px 40px;
}

.form-container {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    width: 1000px;
}

.form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}


.meme-image {
    max-width: 100%;
    display: block;
    margin: 20px auto;
    max-width: 800px;
}